	/*********************************************
	 ** Stylesheet file for default Flux theme. **
	 *********************************************/

.loginbox-admin-menu {
	color: #94b4d5;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Lucida Grande", "Lucida Sans", Verdana, Tahoma, sans-serif;
	font-size: 9pt;
	color: #ccc;
	background-color: #24201d;
}

#content form{
    border-radius:5px;
    box-shadow:inset 0px 0px 3px 0px darkgrey;
}
table {
	font-family: "Lucida Grande", "Lucida Sans", Verdana, Tahoma, sans-serif;
	font-size: 9pt;
    color:#555;
    border-radius:5px;

}

tr, td, th {
	vertical-align: top;
}

.horizontal-table tr, .vertical-table tr, .generic-form-table tr,
.horizontal-table td, .vertical-table td, .generic-form-table td {
	vertical-align: middle;
}

.horizontal-table th, .vertical-table th, .generic-form-table th {
	vertical-align: top;
}

h2 {
	color: #444;
	letter-spacing: -1px;
}

h3 {
	/*font-style: italic;*/
	font-weight: normal;
	font-size: 120%;
	color: #444;
	border-bottom: 1px dotted #ddd;
	text-transform: uppercase;
}

h3:first-letter {
	font-weight: bold;
}

p {
	margin: 4px 0 8px 0;
	padding: 0;
}

a img {
	border: 0;
}

a {
	color: #4083c6;
	text-decoration: none;
}

input[type=text], input[type=password], input[type=file], textarea {
	font-family: "Lucida Grande", "Lucida Sans", Verdana, Tahoma, sans-serif;
	padding: 4px;
	font-size: 10pt;
	color: #444;
	border: 1px solid #ddd;
	outline-width: 0;
}

label:hover {
	cursor: pointer;
}

/*input[type=text]:hover, input[type=password]:hover, textarea:hover {
	color: #46a;
	background-color: #dee;
	border: 1px solid #8ac;
}*/

.module-name {
	font-weight: bold;
	font-size: 12pt;
}

.message {
	display: block;
	padding: 10px;
	font-weight: bold;
	font-size: 120%;
	color: #fff;
	background-color: #333;
}

.notice {
	display: block;
	padding: 10px;
	font-weight: normal;
	font-size: 120%;
	color: #204a87;
	background-color: #F0FFFF;
	border: 1px solid #87CEEB;
}

.center {
	text-align: center;
}


.request, .fs-path {
	display: inline-block;
	padding: 2px;
	font-family: Monaco, "Lucida Console", "Bitsteam Vera Sans Mono", monospace;
	font-size: 8pt;
	background-color: #fff;
	border: 1px solid #eee;
}

.keyword {
	color: #ffba00;
	font-style: italic;
}

.red {
	display: block;
	padding: 10px;
	font-weight: bold;
	font-size: 120%;
	color: #fff;
	background-color: #f00;
}

.green {
	display: block;
	padding: 10px;
	font-weight: bold;
	font-size: 120%;
	color: #fff;
	background-color: #0c0;
}

.note {
	padding: 5px;
	color: #444;
	background-color: #eaeaea;
	font-style: italic;
}

.up {
	font-weight: bold;
	color: #0f0;
	text-transform: uppercase;
}

.down {
	color: #f00;
	text-transform: uppercase;
}

.submit_button {
	display: block;
	margin: 10px;
	padding: 5px;
	background-color: #eee;
	border: 1px solid #ccc;
}

.submit_button:hover {
	color: #fff;
	background-color: #333;
	border: 1px solid #111;
	cursor: pointer;
}

.install_table th, .install_table td {
	padding: 5px 10px;
	border: 1px solid #ddd;
}

.install_table th {
	background-color: #eef;
}

.install_table td {
	width: 180px;
	text-align: center;
}

.created {
	color: green;
	width: 80px;
}

.missing {
	color: red;
	width: 80px;
}

.pages {
	margin-top: 20px;
	padding-top: 10px;
	color: #ccc;
	text-align: center;
	border-top: 1px solid #ddd;
}

.pages .page-prev, .pages .page-next {
	color: #94b4d5;
}

.pages .page-num {
	padding: 0 5px;
}

.pages .current-page {
	color: #000000;
	font-weight: bold;
}

.horizontal-table {
	border-spacing: 0;
	border-collapse: collapse;
	width: 100%;
}

.horizontal-table th {
	padding: 5px 10px;
	background-color: #eee;
}

.horizontal-table td {
	padding: 5px 10px;
	background-color: #fff;
}

.horizontal-table th, .horizontal-table td {
	font-size: 9pt;
	border: 1px solid #ddd;
}

.vertical-table {
	border-spacing: 0;
	border-collapse: collapse;	
}

.vertical-table th {
	padding: 5px 10px;
	background-color: #eee;
}

.vertical-table td {
	padding: 5px 12px;
	background-color: #fff;
}

.vertical-table th, .vertical-table td {
	font-size: 9pt;
	border: 1px solid #ddd;
}

.vertical-table label {
	display: block;
	padding: 5px;
}

.current-sub-menu {
	font-weight: bold;
}

.td-checkbox {
	text-align: center;
}

.td-action {
	color: #ccc;
	text-align: center;
}

.vertical-table .td-action {
	text-align: right;
}

.vertical-table form {
	margin: 0;
	padding: 0;
}

.not-applicable {
	font-style: italic;
	color: #bbb;
}

.state-pending {
	color: orange;
}

.state-banned {
	color: red;
}

.state-permanently-banned {
	font-weight: bold;
	color: red;
}

.raw-txn-log {
	padding: 10px;
	font-family: "Monaco", "Lucida Console", "Courier New", monospace;
	background-color: #fff;
	border: 1px solid #ddd;
	width: 96%;
	overflow: scroll;
}


.info-text-total {
	font-weight: bold;
}

.info-text-results {
	font-weight: bold;
}

.info-text {
	margin-bottom: 6px;
	padding: 5px;
	color: #666;
	background-color: #fff;
	border: 1px solid #ccc;
	text-align: center;
}

.toggler {
	font-weight: bold;
	font-style: italic;
}

.toggler a {
	color: #26a;
}

.search-form, search-form2 {
	display: none;
	margin: 0 0 10px 0;
	padding: 0;
	border-top: 1px solid #ddd;
}

.search-form p, .search-form2 p {
	margin: 0;
	padding: 5px;
	color: #aaa;
	text-align: left;
	border-bottom: 1px solid #ddd;
}

.search-form label, .search-form2 label {
	display: inline-block;
	margin: 0 0 3px 0;
	font-size: 8pt;
	font-style: italic;
	color: #ccc;
}

.search-form input[type=text], .search-form2 input[type=text] {
	display: inline-block;
	margin: 0 0 2px 0;
	padding: 2px;
	font-size: 8pt;
	width: 80px;
}

.search-form input[type=submit], .search-form2 input[type=submit] {
	display: inline-block;
	margin: 0 0 2px 0;
	font-size: 8pt;
	font-weight: bold;
}

.search-form input[type=button], .search-form input[type=reset],
.search-form2 input[type=button], .search-form2 input[type=reset] {
	display: inline-block;
	margin: 0 0 2px 0;
	font-size: 8pt;
}

.search-form input[type=checkbox], .search-form2 input[type=checkbox] {
	display: inline-block;
	margin: 0 0 2px 0;
}

.search-form select, .search-form2 select {
	display: inline-block;
	margin: 2px 0;
}

#submenu {
    color:#ccc;
    background-color:black;
    border-radius:6px;
    margin-top:5px;
    padding:2px 10px;
    margin-bottom:5px;
    box-shadow: 0px -1px 0px 0px #555;

}

#pagemenu {
	margin-top: 5px;
	padding: 5px 0;
	font-size: 8pt;
	color: #888;
	border-width: 1px 0;
	border-style: dotted;
	border-color: #ddd;
}

#pagemenu a {
	color: #777974;
	text-decoration: underline;
}

#pagemenu a:hover {
	color: #729fcf;
}

#content {
    background-color: #24201d;
	color: #ddd;
}

.CMSNewsBox img{
    max-width: 100%;
}

#register_form table td, #login_form table td {
	padding: 1px;
}

#register_form table th label, #login_form table th label {
	display: block;
	padding: 5px;
	text-align: center;
}

#register_form input[type=text], #register_form input[type=password], #login_form input[type=text], #login_form input[type=password] {
	width: 140px;
}

#register_form select, #login_form select {
	width: 147px;
}

#server_status th, #server_status td {
	padding: 8px 12px 8px 12px;
	text-align: left;
	border-bottom: 1px solid #ddd;	
}

#server_status {
	border-spacing: 0;
	border-collapse: collapse;
	background-color: #fff;
	border: 1px solid #ddd;
}

#server_status .server {
	color: #222;
}

#server_status .status {
	text-align: center;
}


#info p {
	margin-top: 5px;
	margin-bottom: 0px;
	font-style: italic;
	font-size: 8pt;
	color: #aaa;
	text-align: right;
}

.sortable {
	color: #444;
	text-decoration: underline;
}

.sortable:hover {
	color: #000;
}

.character-stats {
	border-spacing: 0;
	border-collapse: collapse;
	color: #ccc;
}

.character-stats td {
	padding: 0px 10px 5px 0;
	border: 0;
	text-align: center;
}

.character-stats .stat-name {
	color: #666;
}

.character-stats .stat-value {
	color: #000;
}

.credit-balance {
	float: right;
	display: inline-block;
	padding: 10px;
	color: #ccc;

}

.credit-balance .balance-text {
	display: inline-block;
	margin-right: 5px;
	color: #bbb;
	text-transform: uppercase;
}

.credit-balance .balance-amount {
	font-weight: bold;
}

.emblem-server {
	margin: 0 0 2px 0;
	padding: 0 0 2px 0;
	font-size: 120%;
	border-bottom: 1px solid #ddd;
}

.emblem-server label {
	display: block;
}

.emblem-server label:hover {
	cursor: pointer;
}

.block {
	display: block;
	width: 80%;
	height: 40px;
}

.script-line {
	font-family: Monaco, "Lucida Console", monospace;
}

.script-line-num {
	display: inline-block;
	margin: 0;
	padding: 5px;
	background-color: #eee;
	border-right: 1px solid #ddd;
}

.script-line-code {
	display: inline-block;
	margin: 0;
	padding: 5px;
}

.shop-table {
	width: 100%;
}

.shop-item {
	margin: 10px;
	padding: 10px;
	background-color: #fff;
	border: 1px solid #ddd;
	width: 92%;
}

.shop-item-name {
	margin: 0 0 5px 0;
	padding: 0 0 2px 0;
	font-size: 140%;
	color: #222;
	border-bottom: 1px solid #eee;
}

.shop-item-cost {
	margin: 0;
	color: #aaa;
	text-transform: uppercase;
}

.cost {
	font-size: 120%;
	font-weight: bold;
	color: #fff;
}

.shop-item-qty {
	margin: 0 0 2px 0;
	color: #aaa;
	font-size: 8pt;
	font-style: italic;
}

.qty {
	color: #888;
	font-size: 10pt;
}

.shop-item-action {
	color: #ddd;
}

.shop-item-action a {
	color: #80a2c8;
	border-bottom: 1px solid #eee;
}

.shop-item-action a:hover {
	border-bottom: 1px solid #80a2c8;
}

.short {
	width: 40px;
}

.shop-server-name {
	color: #333;
}

.shop-item-info {
	text-align: justify;
}

textarea {
	width: 320px;
	height: 120px;
}

.cart-items-text {
	margin: 0 0 5px 0;
	padding: 5px;
	color: #ddd;
	background-color: #888;
	border: 5px solid #777;
}

.cart-info-text {
	margin: 0 0 5px 0;
	padding: 0;
}

.cart-total-text {
	margin: 0;
	padding: 0;
}

.cart-item-name {
	color: #fff;
	border-bottom: 1px dotted #aaa;
}

.cart-item-count {
	font-size: 120%;
	font-weight: bold;
	color: #fff;
}

.cart-sub-total {
	color: #fff;
}

.cart {
	width: 100%;
}

.cart label {
	display: block;
}

.cart h4 {
	margin: 10px 0 2px 0;
	font-size: 140%;
}

.remove-from-cart {
	text-align: right;
}

.checkout-text {
	font-size: 120%;
	font-weight: bold;
}

.checkout-text a {
	border-bottom: 1px dotted #ccc;
}

.checkout-text a:hover {
	color: #ff;
	border-bottom: 1px solid #aaa;
}

.enter-donation-amount {
	margin: 0;
	padding: 0 0 5px 0;
	font-size: 120%;
}

.donation-amount-text {
	margin: 0;
	padding: 0;
	font-size: 120%;
	text-align: center;
}

.credit-amount-text {
	font-size: 8pt;
	text-transform: uppercase;
	color: #bbb;
	text-align: center;
	letter-spacing: 1px;
}

.donation-amount {
	font-weight: bold;
	color: #fff;
}

.credit-amount {
	color: #555;
}

.reset-amount-text {
	margin: 0;
	padding: 0;
	font-size: 8pt;
	text-align: center;
}

.checkout-info-text {
	margin: 0 0 5px 0;
	padding: 0;
}

.remaining-balance {
	color: #fff;
}

.exchange-rate {
	font-size: 120%;
	font-weight: bold;
	color: #fff;
}

.important {
	font-size: 120%;
	color: #fff;
}

.important .server-name {
	font-weight: bold;
}

.generic-form {
	padding: 10px;
	background-color: #fff;
	border: 1px solid #ddd;
	width: auto;
}

.generic-form-div {
	padding: 10px;
	background-color: #fff;
	border: 1px solid #ddd;
	width: auto;
}
.generic-form-table th label {
	display: block;
	padding: 6px;
}

.generic-form-table td div {
	display: block;
	padding: 6px 0;
}

.generic-form-table th {
	text-align: right;
}

.generic-form-table td input[type=checkbox] {
	display: inline-block;
	margin-top: 6px;
}

.generic-form-table td p {
	margin: 6px 5px;
	color: #000;
}

.security-code {
	margin: 5px 0;
	text-align: left;
	width: 145px;
	height: 50px;
}

.action {
	color: #ddd;
}

.action a, .action span.anchor {
	color: #80a2c8;
	border-bottom: 1px solid #eee;
	cursor: pointer;
}

.block-link {
	display: block;
	padding: 3px;
	color: #80a2c8;
	border-bottom: 1px solid #eee;
}

.button-action {
	padding: 5px 0;
	text-align: left;
}

.woe-table {
	border-spacing: 0;
	border-collapse: collapse;
	background-color: #fff;
	border: 1px solid #ddd;
}

.woe-table th, .woe-table td {
	padding: 5px 10px;
}

.woe-table th {
	font-weight: normal;
	border-bottom: 1px solid #ddd;
}

.woe-table td {
	font-size: 120%;
}

.woe-table .server {
	font-weight: bold;
}

.woe-table .time {
	font-style: italic;
	color: #333;
}

.script {
	width: 98%;
}

.multi-select {
	width: 100%;
}

.jump-to-page {
	margin-top: 8px;
	font-size: 8pt;
	text-align: center;
}

.jump-to-page input {
	padding: 2px;
	font-size: 8pt;
}

.top-ranked td {
	font-weight: bold;
	color: #000;
	background-color: #FFF8DC;
}

.top-ranked a {
	color: #000;
	border-bottom: 1px dotted #666;
}

.empty-row {
	visibility: hidden;
}

.item-drop-mvp td {
	color: #000;
	background-color: #F8F8FF;
}

.item-drop-card td {
	color: #000;
	background-color: #F0FFFF;
}

.mvp {
	font-size: xx-small;
	font-weight: bold;
	color: #ff0000;
	vertical-align: top;
}

.monster-mode {
	margin: 0;
	padding: 0;
	list-style: square inside;
}

.monster-mode li {
	padding: 1px;
	border-bottom: 1px dotted #eee;
}

.equipped td {
	background-color: #f1ffff;
}

.job-classes {
	border-spacing: 0;
}

.job-classes td {
	padding-right: 10px;
	border-right: 1px solid #eee;
}

.current-shop-category {
	font-weight: bold;
}

.normalslotted .equipped {
	color: #25292b;
}

.overslotted1 {
	color: #32cd32;
}

.overslotted2 {
	color: #00bfff;
}

.overslotted3 {
	color: #ffa500;
}

.overslotted4 {
	color: #9932cc;
}

.hold-hours {
	color: #ffba00;
	font-style: italic;
}



/* Kami changes */

body {
	/*min-width:1000px;*/
}

#wrapper {
	min-width:1001px;
	overflow:auto;
}

#header {
	height:320px;
	background:  no-repeat center top;
	margin:0;
    background-color:#550925;
    background-size: cover;
}


.colwidth {
	width:1180px;
	margin:auto;
	position:relative;

}

a {
	color:#45879a;
}

#logo {
	margin:0;
	float:right;
    margin-right:100px;
    margin-top:40px;
}

#char {
	position:absolute;
	height:400px;
	width:250px;
	right:0px;
	top:-20px;
}

#menu {
	height:44px;
	background: repeat-x top left;
	margin:0;
	position:relative;
	z-index:5px;


}

#menu ul {
	padding-top:15px;
	float:left;
	margin:0px;
}

#menu li{
	float:left;
	text-decoration:none;
	margin-right:30px;
	list-style-type:none;
}

#content {
	min-height:400px;
	background: repeat-x top left;
	margin:0;
	padding-top:15px;
	/*overflow:auto;*/
}

#sidebar {
	width:230px;
	float:right;
    padding-left:15px;
}
#user_sidebar {
	width:220px;
	padding:13px;
    margin-right:15px;
    float:left;
}

#wrapperMain {
    width:700px;
	margin-top:0px;
    float:left;
	padding:0px;
}

#main {
    margin-right:5px;
	margin:0px;
	padding:15px;
    display:block;
	overflow:auto;
}

#main, #user_sidebar , .loginbox-admin-menu{
	background-color: rgba(0,0,0,0.3);
	border-radius:10px;
	box-shadow: 
        0px 0px 1px 1px #326270;
        
    
    
	border: 2px solid black;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	behavior:url(border-radius.htc);
}



input{
    border-radius:4px;
}
.loginbox-admin-menu {
	padding:15px;
	width:100%;
	margin-bottom:15px;
	background-color: rgba(227,235,255,1);
	border:0px;
}

.imageButton{
	border-radius:6px;
    padding:0px;
    margin-bottom:10px;
    box-shadow: 1px 1px 1px 1px black;
}

.imageButton:hover{
    box-shadow: 0px 0px 2px 2px #2bc4d5;
}


#loginbox {
	padding-top:9px;
	float:right;
	width:310px;
	overflow:hidden;
}

#loginbox input {
	max-width:100px;
	
}

/* Status bar */


#topbar, #toppanel {
	background-color:#222;
	border-bottom: 3px solid black;
	-webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
    box-shadow:0px 2px 5px 0px rgba(0,0,0,0.3);
    color:lightgrey;

}

#topbar {
	position:relative;
	height:20px;
    text-align:center;
    margin:0;
}
#copyright{
    font-family:tahoma;
    font-size:10px;
}

#toppanel{
	position:absolute;
	height:30px;
	width:260px;
    margin-left: -150px;
    left:50%;
    padding-top:12px;
    padding-bottom:5px;
    vertical-align: bottom;
    padding-left:30px;
    padding-right:30px;

    border-radius: 0px 0px 60px 60px;
    -moz-border-radius: 0px 0px 60px 60px;
	-webkit-border-radius: 0px 0px 60px 60px;
    
    z-index:20;
    
    font-family:tahoma;
    font-size:10px;
    color:lightgrey;
    text-align:center;
}

.statusInfo{
    margin-left:5px;
    margin-right:5px;  
    display:inline;
}

#players, #server, #woeUp{
	color: #e8edff;
	font-size:18px;
    font-weight:bold;
    font-family:"Comic Sans MS", cursive, sans-serif;
    text-shadow:
        0px 1px 1px #000;
}

a:hover{
    
}

.On {
	color: #77f998 !important;
}

.Off {
	color: #f8787e !important;
}

#players{
    color:#54cfc9;
}



#menu a, #user_sidebar th, h1, h2, h3, h4, h5{
    text-shadow:0px 0px 2px black;
    color:#eee;
 
}

#user_sidebar th{
    font-size:16px;
    text-align:left;
}

#user_sidebar td{
    padding-left:20px;
}



.newsCont {
	overflow:hidden;
	width:90%;
	margin:auto;
}

.newsCont img {
    max-width:100%;
}



.newsDiv h4{
	border-radius:10px;
	background-color: black;
	padding:5px;
        padding-left:15px;
        font-size:14px;
        text-shadow:0px -1px 1px turquoise;
}

/* CMS */

.date{
    float:right;
}

#copyright {
	margin:0px;
	padding:0px;
}
#copyright p, #renderDetails p{
	color: #ccc;
    text-shadow:1px 1px 0px #000;
}

#footer {
	margin-top:30px;
	background: no-repeat center bottom #550925;
	text-align:center;
	padding-top:5px;
	padding-bottom:5px;
	border-top:2px solid black;
    background-size:cover;
}

#mainCanvas {
	position:absolute;
	right:0px;
	z-index:0px;
	top:-65px;
}

input[type=submit], button{
    background-color:#333;
    color:white;
    border-radius:5px;
    border:2px solid black;
    padding:2px;
    padding-left:10px;
    padding-right:10px;
    box-shadow:inset 1px 1px 1px 0px grey;
    
}

input[type=submit]:active,button:active{
    box-shadow:inset -1px -1px 1px 0px white;
}

a:hover {color: #FF7A7A}

.placeholder { color: #aaa; }


#monsterdevil{
    position:relative;
    left:0px;
    top:-27px;
}

table, .horizontal-table td{
    font-size:11px;
}
table .important {
    color: #FFFFFF;
    font-weight:bold;
}


form td {
    font-size:9pt !important;
}